<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.zero.mapper.HomeworkMapper">
  <resultMap id="BaseResultMap" type="com.example.zero.pojo.Homework">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="course_id" jdbcType="BIGINT" property="courseId" />
    <result column="homework_url" jdbcType="VARCHAR" property="homeworkUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="mark" jdbcType="SMALLINT" property="mark" />
    <result column="class_id" jdbcType="BIGINT" property="classId" />
    <result column="publish_id" jdbcType="BIGINT" property="publishId" />
    <result column="homework_file_name" jdbcType="VARCHAR" property="homeworkFileName"/>
  </resultMap>


  <select id="selectHomeworkByCourseIdAndDate" resultType="com.example.zero.pojo.Homework">
     SELECT id,user_id,course_id,homework_url,create_time FROM t_homework WHERE course_id=#{courseId} and create_time>#{createTime}

  </select>
</mapper>